当前项目结构如下：

.
├── README.md
├── config.nix
├── config.nix.example
├── flake.lock
├── flake.nix
├── home.nix
├── install.sh
├── nix.conf
├── nvim
│   ├── init.lua
│   ├── lazy-lock.json
│   └── lua
│       ├── plugins
│       │   ├── LuaSnip.lua
│       │   ├── alpha.lua
│       │   ├── autopairs.lua
│       │   ├── catppuccin.lua
│       │   ├── comment.lua
│       │   ├── completions.lua
│       │   ├── git-stuff.lua
│       │   ├── gitsigns.lua
│       │   ├── indent.lua
│       │   ├── lsp-config.lua
│       │   ├── lualine.lua
│       │   ├── neo-tree.lua
│       │   ├── none-ls.lua
│       │   ├── nordic.lua
│       │   ├── nvim-tmux-navigation.lua
│       │   ├── nvim-treesitter.lua
│       │   ├── oil.lua
│       │   ├── swagger-preview.lua
│       │   ├── telescope.lua
│       │   ├── todo-comments.lua
│       │   └── which-key.lua
│       └── vim-options.lua
└── pip
    └── pip.conf